.vscode/**
.vscode-test/**
.git/**
.gitignore
.vscodeignore
.eslintrc.json
package-lock.json
tsconfig.json
**/*.ts
**/*.js.map
extension/**
shared/**
webview/capture/**
webview/layout/**
webview/renderer/**
webview/state/**
webview/main.ts
*.vsix
vsc-extension-quickstart.md
node_modules/**
!node_modules/prismjs/**
!node_modules/shiki/**
!node_modules/html-to-image/**
